# Custom
/**/placeholder-*

# Hugo build output
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
.hugo_build.lock

# Environment
.env

### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

### Sublime Text ###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json
sftp-config-alt*.json
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
GitHub.sublime-settings

### VS Code ###
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.code-workspace
.history/
